.admin {
    padding: 40px 0;

    .content {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        h2 {
            font-size: 36px;
            color: #000;
            font-weight: 700;
        }

        form {
            width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            background-color: #08bdd1;
            padding: 40px;
            border-radius: 10px;
            input {
                padding: 10px 5px;

            }

            button {
                padding: 10px 15px;
                border: none;
                outline: none;
                font-size: 14px;
                background-color: #000;
                color: #fff;
                text-transform: uppercase;
                border-radius: 5px;
                outline: none;
                cursor: pointer;
            }
        }

        table {
            width: 100%;
            border-collapse: collapse;
            th,td {
                border: 1px solid #000;
                text-align: center;
            }

            th {
                padding: 20px;
            }

            td {
                padding: 30px;

                img {
                    width: 20%;
                    height: auto;
                }

                button {
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-size: 18px;
                    color: #fff;
                    background-color: #000;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }
            }
        }
    }
}